.Card {
    background-color: white;
    height : 550px;
}

.Log-Butt {
    box-sizing: border-box; 
    font-size: 23px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 50%;
    border-bottom: 4px #ff9900 solid;
    padding : 10px 0px;
}

.Sign-Butt {
    box-sizing: border-box;
    font-size: 23px;
    background-color: white;
    display: inline-block;
    width: 50%;
    box-shadow: -5px 5px 8px #cccccc;
    padding : 10px 0px;
    border-bottom: 4px white solid;
}

.Link {
    color :  #ff9900;
    width: 100%;
}


.Link:hover{
 text-decoration: none;
 color: #ff9900;
 
}

.LoginForm {
    padding : 50px 0px 100px;
    box-sizing: border-box;
    font-size: 18px;
    width: 90%;
    margin : 0px auto;
}

.signin-button {
    background-color: #ff9900;
    padding: 10px 45px;
    border-radius: 5px;
    border: none;
    color : white;
    font-size: 90%;
}

.heading {
    font-size: 205%;
    padding : 5px 0px 5px 10px;
    color: white;
   
}


@media (max-width : 600px) {
    .heading {
        font-size: 155%;
        padding : 5px 0px 5px 10px;
        color: white;
       
       
    }

    .Card {
        height : auto;
    }
}